<h1>Zeta Circuit</h1>

<!-- Create -->
<div *ngIf="newRun">
  <form class='form'>
    <div class="input-group">

      <div class="input-group-prepend">
        <span class="input-group-text" id="">Race Title</span>
      </div>
      <input class="form-control" type="text" name="raceTitle" [(ngModel)]="newRun.raceTitle">
    </div>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text" id="">Location</span>
      </div>
      <input class="form-control" type="text" name="location" [(ngModel)]="newRun.location">
    </div>
    <form class="form form-inline">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="">Time</span>
        </div>
        <input class="form-control" type="number" name="hours" placeholder="HH" [(ngModel)]="newRun.hours">
        <input class="form-control" type="number" name="minutes" placeholder="MM" [(ngModel)]="newRun.minutes">
        <input class="form-control" type="number" name="seconds" placeholder="SS" [(ngModel)]="newRun.seconds">
      </div>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="">Distance</span>
        </div>
        <input class="form-control" type="number" name="distance" [(ngModel)]="newRun.distance">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Miles</button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Miles</a>
          </div>
        </div>
      </div>
    </form>

    <label for="notes">Notes </label>
    <input class="form-control" type="text" name="notes" [(ngModel)]="newRun.notes">

    <button (click)='addRun()'>Add Run</button>
  </form>
</div>

<!-- Read / Detail View -->
<div *ngIf="selected && !editRun">
  <br><hr><br>
  <div class="card myCard" id="selectedRun">
    <h3>{{selected.id}} : {{selected.raceTitle}}</h3>
    <p>Location : {{selected.location}}    <span id="time">Time: <span id="clock">{{selected.hours}}:{{selected.minutes}}:{{selected.seconds}}</span> </span> <span id="time">Distance: <span id="clock">{{selected.distance}}{{selected.distanceUnit}}</span></span></p>
    <p>{{selected.notes}}</p>
    <span><button (click)="editRun = selected;">Edit</button>
    <button >Done</button> </span>
  </div>
  <br><hr><br>
</div>

<!-- Edit -->
<div *ngIf="editRun" >
  <label for="raceTitle">Race Title: </label>
  <input type="text" name="raceTitle" value="{{editRun.raceTitle}}" [(ngModel)]='editRun.raceTitle'>
  <label for="location">Location: </label>
  <input type="text" name="location" value="{{editRun.location}}" [(ngModel)]='editRun.location'>

  <button (click)='cancelEdit()'>Cancel</button><button (click)='updateTodo(editRun)'>Save</button>
</div>

<!-- List Runs -->
<div class="card myCard" *ngFor="let run of runs" (click)="selected = run">
  <h5>{{run.id}} : {{run.raceTitle}}</h5>
  <p>Location : {{run.location}}    <span id="time">Time: <span id="clock">{{run.hours}}:{{run.minutes}}:{{run.seconds}}</span> </span> <span id="time">Distance: <span id="clock">{{run.distance}}{{run.distanceUnit}}</span></span></p>
  <p>{{run.notes}}</p>
</div>
